input[type="submit"], button{
    font-family: $font;
    font-weight: 500;
}

.btn{
    display: block;
    padding: abs($px*2) 24px;
    border-radius: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    @include transition;
    &-pillow{
        width: 100%;
        display: none;
        padding: abs($px*1.5);
        font-size: 18px;
    }
    .unicon{
        display: flex;
        fill: $white;
    }
    &-delete{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        @include transition;
        .unicon{
            fill: $red-80;
        }
        p{
            font-size: 1.2em;
            color: $red-80;
        }
        &:hover{
        @include transition;

            .unicon{
                fill: $red-100;
            }
            p{
                font-size: 1.2em;
                color: $red-100;
            }
        }
    }
    &:focus{
        outline: none;
    }
    &-float{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include transition;
        &:focus{
            outline: none;
        }
        &-group{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            @include transition;
            .btn-float{
                margin: abs($px*2);
            }
        }
        &.default{
            background-color: $white;
            &:hover{
                background-color: $dark;
                .unicon{
                    fill: $white;
                }
            }
            .unicon{
                fill: $dark;
            }  
        }
        &.shadow{
            box-shadow: $shadow;
        }
    }
    &-regular{

    }
    &-block{
        width: 100%;
    }
    //color scheme
    &-accent{
        background-color: $blue-100;
        color: $white;
        &:hover{
            background-color: darken($blue-100, 5%);    
        }
    }
    &-white{
        background-color: $white;
        color: $blue-100;
        &:hover{
            background-color: darken($white, 5%);    
        }
    }
    &-success{
        background-color: $green-100;
        color: $white;
        &:hover{
            background-color: darken($green-100, 5%);    
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s
 }
 .fade-enter, .fade-leave-to /* .fade-leave-active в версии ниже 2.1.8 */ {
    opacity: 0
 }

 @media #{$bp-x}{
     .btn{
         &-pillow{
             display: flex;
         }
     }
 }
 @media #{$bp-regular}{
     .btn{
         &-pillow{
             display: flex;
         }
     }
 }