.card{
    display: block;
    width: 300px;
    &-labels{
        position:relative;
        height: 30px;
    }
    &-actions{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        .btn{
            margin: 0px $px;
        }
    }
    &-product{
        margin-right: abs($px*2);
        // width: 100%;
        &:last-child{
            margin-right: 0px;
        }
    }
    &-category{
        margin-right: abs($px*2);
        margin-right: 16px;
        display: flex;
        justify-content: center;
        height: 250px;
        align-items: center;
        &.title{
            color: $dark;
            font-size: 1.3em;
            font-weight: 600;
        }
        .card-image{
            max-height: 120px;
            width: 120px;
            height: 120px;
            background-size: cover;
        }
        &:last-child{
            margin-right: 0px;
        }
    }

    &-partner{
        margin-right: abs($px*2);
        .card-image{
            max-height: 120px;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
    
    &-image{
        width: 300px;
        height: 300px;
        display: flex;
        // background: $blue-100;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
    justify-content: center;
    align-items: flex-end;
       img{
        width: 100%;
        height: 300px;
       }
       .btn-float-group{
           display: none;
           &--active{
               display: flex;
           }
       }
    }
    &-meta{
        margin-top: $px;
        background-color: $white;
        padding: $px;
        display: flex;
        flex-direction: column;
        // height: 130px;
    max-height: 150px;
        &--price{
            margin-top: $px;
            font-size: 1.3em;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            p{
                &:first-child{
                    margin-right: $px;
                }
            }
        }
        h2{
            color: $dark;
            cursor: pointer;
            @include transition;
            line-height: 1.2em;
            &:hover{
                color: $blue-100;
                @include transition;
            }
        }
    }
}

.category-card{
    margin-right: 24px;
    width: 300px;
    height: 500px;
    max-height: 500px;
    &:last-child{
        margin-right: 0px;
    }

    &-image{
        height: 250px;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &-meta{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: abs($px*3);
        height: abs(500px/2);
        h3{
            font-size: 1.6em;
            font-weight: 500;
        }
    }
}


// CART SECTION

@media #{$bp-x}{
    #main{
      width: 100%;
    }
  }
  
  @media #{$bp-regular}{
    #main{
      width: 100%;
    }
  }