//Colors
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$dark: rgba(20,20,20,1);
$grey: rgba(189,189,189,1);
$grey-80: rgba(145,145,145,1);

$red-100: rgba(219,27,72,1);
$red-80: rgba(219,27,72,0.8);
$red-60: rgba(219,27,72,0.6);

$blue-100: rgba(0,133,195,1);
$blue-80: rgba(0,133,195,0.8);
$blue-60: rgba(0,133,195,0.6);

$green-100: #679436;
$green-80: rgba(102,210,75,.8);
$green-60: rgba(102,210,75,.6);

$yellow-100: rgba(252,211,66,1);
$yellow-80: rgba(252,211,66,.8);
$yellow-60: rgba(252,211,66,.6);

// Images
$logo-regular: url('../img/logo.svg');
$icon-success: url('../img/confirm.png');
$icon-loading: url('../img/loading.png');
$icon-cart: url('../img/cart.svg');
$icon-heart: url('../img/heart.svg');
$icon-truck: url('../img/delivery.svg');
$icon-notif: url('../img/notif.svg');

$flag-ua: url('../img/ua-flag.png');
$flag-uk: url('../img/uk-flag.png');
$flag-ru: url('../img/ru-flag.png');

// Icons

// Measurements
$shadow: 0px 6px 8px rgba(0, 0, 0, 0.267);

$px: 8px;
$px_2: abs($px*2);
$font: 'TT Commons';
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
$bp-ios-min: "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";
$bp-ios-max: "only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)";
$bp-x: "only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)";
$bp-regular: "only screen and (min-device-width:360px) and (max-device-width:736px)";
// Grid variables
$grid-columns: 12;
$grid-max-width: 80em;