.profile{
    &-slider{
        &.slide{
            &-item{
                width: 100%;
                height: 300px;
                background-size: cover;
                //options

               .options{
                    &.only-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: abs($px*2);
                        height: inherit;
                        h1, p, .btn{
                            margin-bottom: $px;
                        }
                    }
               }
            }
        }
    }
    &-product{
        &-grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: $px;
            grid-auto-rows: 1fr;
            // grid-template-rows: 1fr 1fr 1fr;
        }
    }
    &-header{
        margin: abs($px*2) 0px;
        padding-bottom: abs($px*2);
        border-bottom: 1px solid $grey;
    }
    &-wrapper{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 20px;
    }
    &-sidebar{
            .sidebar-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: $px 0px;
                cursor: pointer;
                p{
                    margin-left: $px;
                    font-weight: 400;
                }
                &--active{
                    .unicon{
                        fill: $blue-100;
                        @include transition;
                    }
                    p{
                        font-weight: 500;
                        margin-left: $px;
                    }
                }
            }
    }
    &-content{
        width: 100%;
    }
}

.section{
    &-user{
        &-slide, &-products{
            margin: $px 0px;
        }
    }
}

///

@media #{$bp-x}{
    .auth-container{
        padding: $px;
        margin-top: 80px;
    }
}
@media #{$bp-regular}{
    .auth-container{
        padding: $px;
        margin-top: 80px;
    }
}